.slideshow{
	max-width: 1500px;
	position: relative;
}

.slideshow__headline{
	position: absolute;
	color: #fff;
	z-index: 2;
	font-size: 48px;
	top: 30.5%;
	left: 38.5%;
	font-weight: 800;
	letter-spacing: 2.3px;
	border-radius: 5px;
	background: #e8645a;
	text-transform: uppercase;
	padding: 0px 6px 10px;
	line-height: 0.9;
}

.slideshow__paragraph{
	font-size: 16px;
	letter-spacing: 0.7;
	margin: 0 5px;
	z-index: 2;	
	position: absolute;
	color: #fff;
	top: 41.5%;
	left: 34%;
	background-color: #3f4646;
	text-align: center;
	border-radius: 5px;
	line-height: 27px;
	font-weight: 100;
	padding: 10px 25px;
	letter-spacing: 1px;
}


.slideshow__slides {
    display: none;
}

.slideshow__slides-image{
	width: 100%;
}

.slideshow__button-pref, .slideshow__button-next {
	cursor: pointer;
	position: absolute;
	outline: none;
	top: 45%;
	width: auto;
	margin-top: -22px;
	padding: 20px 15px 10px 14px;
	color: #fff;
	font-size: 22px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	background: #e8645a;
	box-shadow: 0px 3px 0px #e2534b

}

.slideshow__button-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.slideshow__radiobutton{
	text-align: center;
}
.slideshow__radiobutton-point {
	margin-top: 15px;
	cursor: pointer;
	height: 5px;
	width: 60px;
	margin-right:10px;
	background-color: #b0b8b9;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .slideshow__radiobutton-point:hover {
  background-color: #e2534b;
}

.slideshow__slides_fade {
	-webkit-animation-name: slideshow__slides_fade;
	-webkit-animation-duration: 1.5s;
	animation-name: slideshow__slides_fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes slideshow__slides_fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes slideshow__slides_fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@media only screen and (max-width:480px) {
.slideshow__headline{
	font-size: 20px;
	font-weight: 800;
	top: 20%;
	left: 25.5%;
	letter-spacing: 1.8px;
	padding: 3px 5px 5px;
	border-radius: 3px;
}
.slideshow__paragraph{
	display: block;
	border-radius: 3px;
	font-size: 12px;
	height: auto;
	width: 55%;
	top: 65px;
	left: 13.5%;	
	padding: 5px 25px; 
	line-height: 1;
	border-radius: 3px;
	opacity: 0.9;
}
.slideshow__slides-image{
	width: 100%;
	height: 150px;
}

.slideshow__button-pref, .slideshow__button-next {
	display: none;
}
.slideshow__radiobutton-point{
	display: none;
}
}